@model LibraryPlotnikova.Models.AuthorModels.AllAuthorsModel
@{
    ViewData["Title"] = "Authors";
}
<link rel="stylesheet" href="~/css/tables.css" />
<link rel="stylesheet" href="~/css/filters.css" />


<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            <table>
                <tr>
                    <th><h3>Авторы</h3></th>
                    <th>
                        <form method="get" asp-controller="Author" asp-action="Create">
                            <button type="submit" class="btn btn-outline-dark">Добавить автора</button>
                        </form>
                    </th>
                </tr>
            </table>

            <table class="main_table">
                <thead>
                    <tr>
                        <th>Полное имя</th>
                        <th>Краткое имя</th>
                        <th>Книги</th>
                        <th>Страна</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.Authors)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.ShortName</td>
                            <td>@item.Books.Count()</td>
                            <td>@item.Country.Name</td>
                            <td>
                                <a href="@Url.Action("Info", "Author", new { id = @item.Id })">&#128269;</a>
                                <a href="@Url.Action("Update", "Author", new { id = @item.Id })">&#9999;</a>
                                <a href="@Url.Action("DeletionAttempt", "Author", new { id = @item.Id })">&#10060;</a>
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>

        <div class="col-auto">
            <form asp-controller="Author" asp-action="Index" method="get">
                <h3>Фильтры</h3>
                <h5>Страны</h5>
                <div class="filter-block">
                    @foreach (var item in @Model.AvailableCountries)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="AuthorFilter.CountriesId"
                                       value="@item.Value"
                                       checked="@item.Selected" />
                                @item.Text
                            </label>
                        </div>
                    }
                </div>
                <button type="submit" class="btn btn-dark">Обновить</button>
            </form>
        </div>
    </div>
</div>
