@model LibraryPlotnikova.Models.AuthorModels.UpdateAuthorModel
@{ ViewData["Title"] = "Author - Update"; }
<link rel="stylesheet" href="~/css/create.css" />
<link rel="stylesheet" href="~/css/tables.css" />

<div class="container">
    <form asp-controller="Author">
        @Html.HiddenFor(m => m.Id)

        <div class="input-block">
            <label>Полное имя</label>
            <input asp-for="@Model.FullName" maxlength="35" size="40" placeholder="Введите полное имя" autofocus autocomplete="off" />
            <span class="error-message" asp-validation-for="@Model.FullName"></span>
        </div>

        <div class="input-block">
            <label>Краткое имя</label>
            <input asp-for="@Model.ShortName" maxlength="20" size="22" placeholder="Введите краткое имя" autocomplete="off" />
            <span class="error-message" asp-validation-for="@Model.ShortName"></span>
        </div>

        <div class="input-block">
            <label>Страна</label>
            @Html.DropDownListFor(e => e.CountryId, Model.AvailableCountries, new { id = "dropDown" })
        </div>

        <table>
            <tr>
                <td>
                    <input type="submit" asp-action="UpdateFromModel" formmethod="post"
                           class="btn btn-outline-success" value="Сохранить" />
                </td>
                <td>
                    <input type="submit" asp-action="Info" formmethod="get" formnovalidate
                           class="btn btn-outline-dark" value="Отмена" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $(function () {
            $('#dropDown').select2();
        });
    </script>
}


