@model LibraryPlotnikova.Models.ReaderModels.UpdateReaderModel
@{ ViewData["Title"] = "Reader - Update"; }
<link rel="stylesheet" href="~/css/create.css" />
<link rel="stylesheet" href="~/css/tables.css" />

<div class="container">
    <form asp-controller="Reader" asp-action="UpdateFromModel">
        @Html.HiddenFor(e => e.Id)

        <div class="input-block">
            <label>Имя</label>
            <input asp-for="@Model.Name" placeholder="Введите имя" maxlength="35" size="40" autofocus autocomplete="off" />
            <span class="error-message" asp-validation-for="@Model.Name"></span>
        </div>

        <div class="input-block">
            <label>Email</label>
            <input asp-for="@Model.Email" placeholder="Введите email" maxlength="20" size="22" autocomplete="off" />
            <span class="error-message" asp-validation-for="@Model.Email"></span>
        </div>

        <div class="input-block">
            <label>Паспорт</label>
            <input asp-for="@Model.Passport" placeholder="Введите паспорт" maxlength="15" size="16" autocomplete="off" />
            <span class="error-message" asp-validation-for="@Model.Passport"></span>
        </div>

        <table>
            <tr>
                <td>
                    <input type="submit" asp-action="UpdateFromModel" formmethod="post"
                           class="btn btn-outline-success" value="Сохранить" />
                </td>
                <td>
                    <input type="submit" asp-action="Info" formmethod="get" formnovalidate
                           class="btn btn-outline-dark" value="Отмена" />
                </td>
            </tr>
        </table>
    </form>
</div>


@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}