@model Domain.Entities.Publisher
@{
    ViewData["Title"] = "Publisher Info";
}

<link rel="stylesheet" href="~/css/info.css" />


<div class="container">
    <table>
        <tr>
            <th><h3>@Model.Name</h3></th>
            <th><a href="@Url.Action("Change", "Publisher", new { id = Model.Id })">&#9999;</a></th>
        </tr>
    </table>

    <br />
    <div class="info-block"><a class="info-header">Страна</a> @Model.Country.Name</div>

    @if (Model.Books.Count() != 0)
    {
        int i = 1;
        <div class="info-block">
            <div class="info-header">Книги</div>
            @foreach (var item in Model.Books)
            {
                <div>@i. @Html.ActionLink($"{item.Name}", "Info", "Book", new { id = @item.Id })</div>i++;
            }
        </div>
    }
</div>
