@model LibraryPlotnikova.Models.BookModels.BookInfoModel
@{ ViewData["Title"] = "Book - Info"; }
<link rel="stylesheet" href="~/css/info.css" />
<link rel="stylesheet" href="~/css/tables.css" />

<div class="container">
     <table>
         <tr>
             <th colspan="2">@Html.ActionLink("Назад ко всем книгам", "Index", "Book")</th>
         </tr>
         <tr>
             <th><h3>@Model.Book.Name</h3></th>
             <th>
                 <a href="@Url.Action("Update", "Book", new { id = Model.Book.Id })">&#9999;</a>
                 @if (!Model.BookCopiesReader.Any())
                 {
                     <a href="@Url.Action("DeletionAttempt", "Book", new { id = Model.Book.Id })">&#10060;</a>
                 }
             </th>
         </tr>
     </table>

     <div class="info-block"><a class="info-header">Год издания</a> @Model.Book.PublishmentYear</div>
     <div class="info-block"><a class="info-header">Кол-во страниц</a> @Model.Book.NumberOfPages</div>
     <div class="info-block"><a class="info-header">Стоимость</a> @Model.Book.Price р.</div>
     @{
         int numberOfCopies = Model.BookCopiesLibrary.Count() + Model.BookCopiesReader.Count();
         <div class="info-block"><a class="info-header">Кол-во копий</a> @numberOfCopies шт.</div>
     }
     <div class="info-block"><a class="info-header">&nbsp;&nbsp;- в библиотеке</a> @Model.BookCopiesLibrary.Count() шт.</div>
     <div class="info-block"><a class="info-header">&nbsp;&nbsp;- у читателя</a> @Model.BookCopiesReader.Count() шт.</div>

     @if(Model.Book.Genre != null) 
     {
         <div class="info-block"><a class="info-header">Жанр</a> @Model.Book.Genre.Name</div>
     }
     @if(Model.Book.Publisher != null) 
     {
         <div class="info-block"><a class="info-header">Издатель</a> @Model.Book.Publisher.Name</div>
     } 

     @if (Model.Book.Authors.Any())
     {
         int i = 1;
         <br />
         <div class="info-block">
             <div class="info-header">Авторы</div>
             @foreach (var item in Model.Book.Authors)
             {
                 <div>@i. @Html.ActionLink($"{item.FullName}", "Info", "Author", new { id = @item.Id })</div>
                 i++;
             }
         </div>
     }  

     @if(Model.BookCopiesReader.Any()) 
     { 
         <br />
         <div class="info-block">
             <div class="info-header">Id выданных копий</div>
             @foreach (var item in Model.BookCopiesReader)
             {
                 <div>
                     №@item.Id  @Html.ActionLink($"{item.Reader?.Name}", "Info", "Reader", new { id = @item.ReaderId })
                 </div> 
             }
         </div>
     }

     @if(Model.BookCopiesLibrary.Any()) 
     { 
         <br />
         <div class="info-block">
             <div class="info-header">Id копий в библиотеке</div>
             @foreach (var item in Model.BookCopiesLibrary)
             {
                 <label>№@item.Id </label>
             }
         </div>
     }
</div>



